* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}


#app {
    border: 2px solid black;
    height: 900px;
    width: 40%;
    margin: 0;
}

#keypad-tab>header,
#call-tab>header {
    border: 2px solid red;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#keypad-tab>header>#display,
#in-call-header-display {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0;
}

.header-buttons {
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

#add-number {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.display-text {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#keypad-tab {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

#dial-button-pad {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

#call-remove-button-wrapper {
    border: 2px solid red;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

/* Why is this  ot working? */
#keypad-tab>main {
    gap: 100px;
}

#call-button {
    grid-column: 2;
    background-color: green;
    color: white;
}

.dial-button {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.dial-values {
    /* font-weight: bold; */
    font-size: 40px;
    margin: 0;
}

#button-characters {
    margin: 0;
}

#in-call-options-button {
    font-weight: bold;
    color: white;
    background: black;
}

#app>footer {
    border: 2px solid orange;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#call-tab>footer {
    border: 2px solid orange;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-button {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
}

#add-contact-modal {
    background: lightgray;
    height: 90%;
    width: 45%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    visibility: visible;
}

#add-contact-modal>header {
    border: 2px solid red;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: aqua;
    border-radius: 20px;
}

#contacts-tab-search-wrapper {
    border: 1px solid orange;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: 40px;
    font-weight: bolder;
}

#add-photo-wrapper {
    border: 2px solid blue;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#add-photo {
    font-weight: bold;
    cursor: pointer;
}

#add-contacts-modal>main {
    border: 2px solid yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contacts-wrapper {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.details {
    width: 400px;
    font-size: 30px;
}

.contact-element {
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

#contacts-tab>header,
#view-contact-tab>header {
    border: 2px solid blue;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contacts-title {
    font-size: 40px;
    font-weight: bold;
}

#end-button-element-wrapper {
    border: 2px solid red;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

#end-button {
    background: red;
    color: white;
}

#contacts-tab>main {
    border: 2px solid red;
    height: 100px;
    display: flex;
    flex-direction: column;
}

#search-field {
    border: 2px solid green;
    font-size: 30px;
    height: 40px;
    width: 200px;
}

#contacts-tab {
    flex-direction: column;
}

#voicemail-button,
#recents-button,
#favourites-button {
    background-color: red;
}

#call-tab {
    border: 2px solid gold;
    flex-direction: column;
    gap: 100px
}

#call-tab>main {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

#contact-photo {
    border: 2px solid blue;
    border-radius: 100%;
    background: lightblue;
    height: 200px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#contact-name {
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#view-contact-tab>main {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#contact-contact-options-buttons-wrapper {
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact-contact-options-button {
    font-size: larger;
    cursor: pointer;
}

#contact-phone-number-wrapper,
#contact-email-wrapper {
    border: 2px solid blueviolet;
    width: 100%;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#contact-phone-number-wrapper>p,
#contact-email-wrapper>p {
    margin: 0;
}